<div class='version'>
  <a href="http://groups.google.com/group/opensport">Questions? Comments?</a> |
  <a href="https://github.com/geraldb/world.db">world.db/<%= WorldDB::VERSION %></a>,
  <a href="https://github.com/geraldb/sport.db">sport.db/<%= SportDB::VERSION %></a>,
  <a href="https://github.com/geraldb/sport.db.api">sport.db.api/<%= SportDB::Service::VERSION %></a> -
  <span>Ruby/<%= "#{RUBY_VERSION} (#{RUBY_RELEASE_DATE}/#{RUBY_PLATFORM})" %> on</span>
  <span>Sinatra/<%= Sinatra::VERSION %> (<%= ENV['RACK_ENV'] %>)</span>
</div>
