<h1>sport.db HTTP JSON(P) API</h1>

<%= erb :'_football_today' %>


<h2>Examples</h2>

<% example_event_keys  = ['world.confed.2013', 'en.2012_13', 'de.2012_13', 'euro.2012', 'world.2010']
   example_round_pos   = [ 4, 2, 5, 1, 20 ]
   example_round_label = [ '4th Round (=> Semi-finals)', '2nd Round', '5th Round', '1st Round', '20th Round (=> Final)' ]
 %>

<h3>List all teams for an event (league+season) <code>/event/<span class='params'>:key</span>/teams</code></h3>

<table>
 <% example_event_keys.each do |event_key|
    event = Event.find_by_key!( event_key.tr('_', '/') )
  %>
 <tr>
  <td>
    <code>
     <a href='<%= url("/event/#{event_key}/teams") %>'>
        /event/<span class='params'><%= event_key %></span>/teams
     </a>
    </code>
  </td>
  <td>
     <%= event.full_title %>
  </td>
 </tr>
 <% end %>
</table>

<h3>List all rounds for an event (league+season) <code>/event/<span class='params'>:key</span>/rounds</code></h3>

<table>
 <% example_event_keys.each do |event_key|
    event = Event.find_by_key!( event_key.tr('_', '/') )
  %>
 <tr>
   <td>
     <code>
       <a href='<%= url("/event/#{event_key}/rounds") %>'>
         /event/<span class='params'><%= event_key %></span>/rounds
       </a>
     </code>
   </td>
   <td>
      <%= event.full_title %>
   </td>
  </tr>
 <% end %>
</table>


<h3>List all rounds for today or a date <code>/rounds/<span class='params'>today|:YYYY.MM.DD</span></code></h3>

<table>
 <tr>
   <td>
     <code>
       <a href='<%= url("/rounds/today") %>'>
         /rounds/<span class='params'>today</span>
       </a>
     </code>
   </td>
   <td>
      All rounds scheduled for today
   </td>
  </tr>
  <tr>
   <td>
     <code>
       <a href='<%= url("/rounds/2013.6.30") %>'>
         /rounds/<span class='params'>2013.6.30</span>
       </a>
     </code>
   </td>
   <td>
      All rounds scheduled for July 30th, 2013 
   </td>
  </tr>
</table>



<h3>List all games in a round for an event (league+season) <code>/event/<span class='params'>:key</span>/round/<span class='params'>:pos|today</code></h3>


<table>
 <% example_event_keys.each_with_index do |event_key, index|
    event = Event.find_by_key!( event_key.tr('_', '/') )
  %>
 <tr>
   <td>
     <code>
       <a href='<%= url("/event/#{event_key}/round/#{example_round_pos[index]}") %>'>
         /event/<span class='params'><%= event_key %></span>/round/<span class='params'><%= example_round_pos[index] %></span>
       </a>
     </code>
   </td>
   <td>
       <%= event.full_title %> - <%= example_round_label[index] %>
   </td>
  </tr>
 <% end %>

 <tr>
   <td>
     <code>
       <a href='<%= url("/event/de.2013_14/round/today") %>'>
         /event/<span class='params'>de.2013_14</span>/round/<span class='params'>today</span>
       </a>
     </code>
   </td>
   <td>
       Deutsche Bundesliga 2013/14 - all games for today's round (or if no round scheduled for today the last one or if no last one the next upcoming one).
   </td>
  </tr>
</table>



<%= erb :'_usage' %>

<%= erb :'_football_live' %>


<h2>About</h2>

<h3>What's <code>sport.db</code>?</h3>

<p>
A free open sports database &amp; schema. <a href='https://github.com/geraldb/sport.db'>More &raquo;</a>
</p>

<h3>What's <code>sport.db.api</code>?</h3>

<p>
A free open source web service in Ruby w/ Sinatra. <a href='https://github.com/geraldb/sport.db.api'>More  &raquo;</a>
</p>


<% if params[:debug].present? %>
  <%= erb :'_debug' %>
<% end %>