<div class='version'>
  <a href="http://groups.google.com/group/opensport">Questions? Comments?</a> |
  <a href="https://github.com/geraldb/world.db.ruby">world.db/<%= WorldDb::VERSION %></a>,
  <a href="https://github.com/geraldb/sport.db.ruby">sport.db/<%= SportDb::VERSION %></a> - 
  <span>Ruby/<%= "#{RUBY_VERSION} (#{RUBY_RELEASE_DATE}/#{RUBY_PLATFORM})" %> on</span>
  <span>Sinatra/<%= Sinatra::VERSION %> (<%= ENV['RACK_ENV'] %>)</span>
</div>
