
<h3>Debug</h3>

<pre>
  request.scheme          <%= request.scheme %>
  request.script_name     <%= request.script_name %>
  request.path_info       <%= request.path_info %>
  request.port            <%= request.port %>
  request.request_method  <%= request.request_method %>
  request.query_string    <%= request.query_string %>
  request.host            <%= request.host %>
  request.referrer        <%= request.referrer %>
  request.user_agent      <%= request.user_agent %>
  request.url             <%= request.url %>
  request.path            <%= request.path %>
  request.ip              <%= request.ip %>
</pre>
